table {
    width: 100%;
}

button {
    margin: 5px;
}

.table-container {
    border: 1px solid lightgray;
}

.add-button {
    width: 50%;
    margin-left: 50%;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.button-container {
  display: flex;
  justify-content: center;
}

